<section class="shop_section layout_padding">
  <div class="container">
     <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-12 ">
        <div class="box">
          <div class="img-box">
            <%= image_tag @store.product_image,height: "100", width: "100"%>
          </div>
            <p>
              <strong>Brand:</strong>
              <%= @store.brand %>
            </p>

            <p>
              <strong>Name:</strong>
              <%= @store.name %>
            </p>

            <p>
              <strong>Price:</strong>
              <%= @store.price %>
            </p>

            <p>
              <strong>Size:</strong>
              <%= @store.size %>
            </p>

            <p>
              <strong>Description:</strong>
              <%= @store.description %>
            </p>
      </div>
    </div>
  </div>
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
</section>


