<section class="cart_section layout_padding">
    <div class="cart_container">
        <div class="cart_heading_container ">
                <h2>Your Cart</h2><br>
        </div>
            
        <% unless cart.line_items.empty? %>
            <table>
                <tr>
                    <th>Name</th>
                    <th>&ensp;Unit Price</th>
                    <th>&ensp;Qty</th>
                    <th>&ensp;Total Price</th>
                    <th colspan="2"></th>
                </tr>

                <%= render(cart.line_items) %>

                <tr>
                    <th colspan="2">Sub Total:</th>
                    <td class="total_cell">₹<%= cart.total_price%></td>
                </tr>

                <% session[:amount] = "₹ #{cart.total_price}" %>
            </table><br>
                    
            <table>
                <tr>
                    <%= link_to shoes_index_path, :amount =>cart.total_price, :class => "search_button" do %>
                        <i class="fas fa-angle-double-left fa-3x" ></i>
                    <% end%>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <% if user_signed_in? %>
                        <%= link_to "/shoes/checkout", :amount =>cart.total_price, :class => "search_button" do%>
                            <i class="fas fa-money-check-alt fa-3x" ></i>
                        <% end%>
                    <% else%>
                        <%= link_to "/users/sign_in", :class => "search_button" do%>
                            <i class="fas fa-money-check-alt fa-3x" ></i>
                        <% end%>
                        <% flash.alert = "Please! Login to continue"%>
                    <% end%>
                </tr>

            </table>
                
            <div align="middle">
                <%= link_to "Empty Cart", @cart, method: :delete, data:{confirm: 'Are you sure?'}, :class=>"button"%>
            </div>
  
        <% end%>
    </div>
</section>



