<section class="contact_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
         <h4>Checkout for Amount <span style="color:red"><%= session[:amount] %></span></h4>

        <%= form_with do |form| %>
        
          <div class="field">
              <%= form.label :first_name %>
              <%= form.text_field :first_name %>
          </div>

          <div class="field">
              <%= form.label :last_name %>
              <%= form.text_field :last_name %>
          </div>

          <div class="field">
              <%= form.label :card_number %>
              <%= form.text_field :number %>
          </div>

          <table>
            <tr>
              <td><%= form.label :expiry_date%></td>&emsp;
              <td><%= form.label "card_verification_value (CVV) "%></td>
            </tr>

            <td>
              <select name="month">
                <option selected value="01">Jan
                <option value="02">Feb
                <option value="03">Mar
                <option value="04">Apr
                <option value="05">May
                <option value="06">Jun
                <option value="07">Jul
                <option value="08">Aug
                <option value="09">Sep
                <option value="10">Oct
                <option value="11">Nov
                <option value="12">Dec
              </select>
              <select name="year">
                <option selected value="2021">2021
                <option value="2022">2022
                <option value="2023">2023
                <option value="2024">2024
                <option value="2025">2025
                <option value="2026">2026
                <option value="2027">2027
                <option value="2028">2028
              </select>
            </td>
            
            <td>
              <%= form.text_field :verification_value %>
            </td>
          </table>
           
          <div class="d-flex">
            <button>
              Pay
            </button>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>