<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/01d9b695e4.js" crossorigin="anonymous"></script>
    <title>WearMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/shoes/index">
            <span>
              Wear Me
            </span>
          </a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link" href= "/shoes/index" >
               <i class="fas fa-home fa-1x"><span>Home</span></i>
              </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/contact/index">
                  <i class="fas fa-address-book fa-1x"><span>Contact us</span></i>
                </a>
              </li>
              <li class="nav-item">
                <% if user_signed_in? %>
                  <li class="nav-item">Logged in as <strong><%= current_user.email %></strong></li>
                  <li class="nav-item"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %> </li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out-alt fa-2x"></i>
                  <% end %>
                <% end %>
              </li>
            </ul>

            <div class="user_option-box">
            <% if session[:admin] %>
              <%= link_to admin_logout_path do %>
                    <i class="fa fa-sign-out-alt fa-1x"></i>&emsp;
                  <% end %>
            <% else %>
              <%= link_to ('/users/sign_in') do %>
                <i class="fa fa-user" aria-hidden="true"></i>&emsp;
              <% end %>
            <% end %>
              <i>
              <%= form_tag("/shoes/search", method: "get") do %>
              <%= text_field_tag :search,nil, placeholder: 'Search here' %>
              <%= button_tag type: 'submit',class: "search_button" do %>
                <i class="fa fa-search" aria-hidden="true"></i>
              <% end %>
              <% end %>
              </i>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <center>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %></center>
  
    <%= yield %>

    <!-- footer section -->
    <footer class="footer_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 footer-col">
            <div class="footer_detail">
              <h4>
               About
              </h4>
              <p>
               Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
              </p>
              <div class="footer_social">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 footer-col">
         
          </div>
          <div class="col-md-6 col-lg-3 footer-col">
         
          </div>
    
          <div class="col-md-6 col-lg-3 footer-col">
            <div class="footer_contact">
              <h4>
                Reach at..
              </h4>
              <div class="contact_link_box">
                <a href="">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    Hyderabad
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                    Call +91 9550054810
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    durgasaikumarreddy@gmail.com
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-info">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a>
          </p>
        </div>
      </div>
    </footer>
    <!-- footer section -->
  </body>
</html>
